<div class="admin-container">


    <aside class="sidebar">


        <h2>
            ADMIN PANEL
        </h2>



        <nav>


            <a routerLink="/admin">
                Dashboard
            </a>



            <a routerLink="/admin/products">
                Productos
            </a>



            <a routerLink="/admin/products/create">
                Nuevo producto
            </a>



            <a routerLink="/admin/orders">
                Pedidos
            </a>



        </nav>



    </aside>






    <main class="content">


        <router-outlet></router-outlet>


    </main>



</div>
