.create-product{

max-width:1000px;

}



h1{

margin-bottom:30px;

}





.form-container{


background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);


}





label{


display:block;

font-weight:600;

margin-top:15px;


}





input,
textarea{


width:100%;

padding:12px;

margin-top:5px;

border:1px solid #ddd;

border-radius:8px;


}





textarea{


height:120px;

resize:none;


}





.variant-card{


display:grid;

grid-template-columns:

repeat(6,1fr);

gap:15px;

align-items:end;

margin-top:20px;

padding:20px;

background:#f7f7f7;

border-radius:10px;


}





button{


border:none;

padding:12px;

border-radius:8px;

cursor:pointer;


}





.variant-card button{


background:#c0392b;

color:white;


}





.add{


margin-top:20px;

background:#333;

color:white;

}





.save{


margin-top:30px;

width:100%;

background:black;

color:white;

font-size:16px;


}







@media(max-width:900px){


.variant-card{


grid-template-columns:

repeat(2,1fr);


}



}







@media(max-width:600px){


.form-container{


padding:20px;


}




.variant-card{


grid-template-columns:1fr;


}



h1{


font-size:26px;


}



}