<nav
class="navbar"
[class.scrolled]="scrolled">



<div class="container navbar-container">



<a
routerLink="/"
class="logo">

<span>KICK</span>ZONE

</a>





<ul class="nav-links">


<li>

<a routerLink="/"
routerLinkActive="active"
[routerLinkActiveOptions]="{exact:true}">

Inicio

</a>

</li>


<li>

<a routerLink="/products">

Productos

</a>

</li>


<li>

<a href="#categories">

Running

</a>

</li>


<li>

<a href="#categories">

Lifestyle

</a>

</li>


<li>

<a href="#categories">

Training

</a>

</li>


</ul>









<div class="nav-actions">





<button

class="search-btn"

(click)="toggleSearch()">



<i class="bi bi-search"></i>


<span>

BUSCAR

</span>


</button>









<a

routerLink="/favorites"

class="icon-link">


<i class="bi bi-heart"></i>


<span

class="badge"

*ngIf="favoriteCount">


{{favoriteCount}}


</span>


</a>







<a

routerLink="/cart"

class="icon-link">


<i class="bi bi-bag"></i>


<span

class="badge"

*ngIf="cartCount">


{{cartCount}}


</span>


</a>









<button

class="user-btn"

(click)="toggleUserMenu()">



<img

*ngIf="profileImage"

[src]="profileImage">



<i

*ngIf="!profileImage"

class="bi bi-person">

</i>



<span>

{{profileName || 'Cuenta'}}

</span>



</button>









<div

class="user-menu"

[class.open]="showUserMenu">


<a routerLink="/profile">

Mi perfil

</a>


<a routerLink="/orders">

Mis pedidos

</a>


<button

(click)="logout()">

Cerrar sesión

</button>


</div>








<button

class="menu-toggle"

(click)="toggleMenu()">



<i

class="bi"

[class.bi-list]="!mobileMenu"

[class.bi-x-lg]="mobileMenu">

</i>



</button>





</div>


</div>









<!-- BUSCADOR -->


<div

class="search-panel"

[class.open]="showSearch">



<div class="search-content">


<input

type="text"

placeholder="Buscar zapatillas..."

[(ngModel)]="searchText"

(input)="search()">



<button

(click)="toggleSearch()">

✕

</button>



</div>






<div

class="search-results"

*ngIf="searchResults.length">



<a

*ngFor="let product of searchResults"

(click)="goProduct(product.id!)">



<img

[src]="'/images/products/'+product.imageUrl">



<div>

<strong>

{{product.name}}

</strong>


<span>

{{product.price}} €

</span>


</div>


</a>



</div>



</div>









<!-- MENU MOBILE -->


<div

class="mobile-menu"

[class.open]="mobileMenu">



<a

routerLink="/"

(click)="closeMenu()">

Inicio

</a>


<a

routerLink="/products"

(click)="closeMenu()">

Productos

</a>


<a

routerLink="/favorites"

(click)="closeMenu()">

❤️ Favoritos

({{favoriteCount}})

</a>


<a

routerLink="/cart"

(click)="closeMenu()">

🛒 Carrito

({{cartCount}})

</a>


<a

routerLink="/profile"

(click)="closeMenu()">

👤 {{profileName || 'Cuenta'}}

</a>


<a

routerLink="/orders"

(click)="closeMenu()">

📦 Mis pedidos

</a>


<a

(click)="logout()">

Cerrar sesión

</a>



</div>



</nav>
