<section class="favorites-page">


    <div class="container">





        <h1>

            ❤️ Mis favoritos

        </h1>







        <!-- SIN FAVORITOS -->


        <div

        class="empty"

        *ngIf="favorites.length === 0">


            <h3>

                No tienes productos favoritos

            </h3>


            <p>

                Guarda tus zapatillas favoritas para verlas aquí.

            </p>


            <a

            routerLink="/products">

                Ver productos

            </a>


        </div>









        <!-- LISTA FAVORITOS -->


        <div

        class="favorites-grid"

        *ngIf="favorites.length > 0">





            <article

            class="favorite-card"

            *ngFor="let product of favorites">






                <div class="image-box">



                    <img

                    [src]="'/images/products/' + product.imageUrl"

                    [alt]="product.name">



                </div>









                <div class="info">



                    <span>

                        {{product.brandName}}

                    </span>





                    <h3>

                        {{product.name}}

                    </h3>





                    <strong>

                        {{product.price | currency:'EUR'}}

                    </strong>





                    <div class="actions">





                        <button

                        class="cart"

                        (click)="addToCart(product)">


                            Añadir carrito


                        </button>







                        <button

                        class="remove"

                        (click)="removeFavorite(product.id!)">


                            ❤️


                        </button>





                    </div>



                </div>






            </article>







        </div>





    </div>



</section>
