<footer class="footer">


    <div class="footer-container">


        <!-- BRAND -->

        <div class="footer-brand">


            <h2>

                <span>KICK</span>ZONE

            </h2>



            <p>

                Las mejores sneakers para los que viven
                la cultura deportiva cada día.

            </p>



            <div class="socials">


                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>


                <a href="#">
                    <i class="bi bi-tiktok"></i>
                </a>


                <a href="#">
                    <i class="bi bi-youtube"></i>
                </a>


                <a href="#">
                    <i class="bi bi-twitter-x"></i>
                </a>


            </div>


        </div>





        <!-- TIENDA -->


        <div class="footer-column">


            <h3>

                TIENDA

            </h3>


            <a routerLink="/products">

                Productos

            </a>


            <a>

                Marcas

            </a>


            <a>

                Categorías

            </a>


            <a>

                Novedades

            </a>


        </div>





        <!-- AYUDA -->


        <div class="footer-column">


            <h3>

                AYUDA

            </h3>


            <a>

                Contacto

            </a>


            <a>

                Envíos

            </a>


            <a>

                Devoluciones

            </a>


            <a>

                FAQ

            </a>


        </div>






        <!-- MI CUENTA -->


        <div class="footer-column">


            <h3>

                MI CUENTA

            </h3>


            <a routerLink="/login">

                Iniciar sesión

            </a>


            <a routerLink="/register">

                Registrarse

            </a>


            <a routerLink="/orders">

                Mis pedidos

            </a>


            <a routerLink="/cart">

                Carrito

            </a>


        </div>



    </div>






    <div class="footer-bottom">


        <p>

            © 2026 KICKZONE.
            Todos los derechos reservados.

        </p>


    </div>



</footer>
