/* ==========================================
   APP LAYOUT
========================================== */

:host{

    display:block;

}

.main-content{

    width:100%;

    min-height:100vh;

    padding-top:100px;

    overflow-x:hidden;

}

/* ==========================================
   TABLET
========================================== */

@media(max-width:992px){

    .main-content{

        padding-top:88px;

    }

}

/* ==========================================
   MOBILE
========================================== */

@media(max-width:768px){

    .main-content{

        padding-top:80px;

    }

}

/* ==========================================
   SMALL MOBILE
========================================== */

@media(max-width:480px){

    .main-content{

        padding-top:75px;

    }

}